.main-page {
    width: 100%;
    height: 1491px;
    background: #4A4A4A 0% 0% no-repeat padding-box;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}